<div class="row">
  <h2>Please fill out the information below in order for you to track your daily nutrients intake.</h2>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :fname, "First Name" %>
      <%= f.text_field :fname, class: 'form-control', placeholder: "Enter first name" %>
    </div>
    <div class="form-group">
      <%= f.label :lname, "Last Name" %>
      <%= f.text_field :lname, class: 'form-control', placeholder: "Enter last name" %>
    </div>
    <div class="form-group">
      <%= f.label :age %>
      <%= f.number_field :age, class: 'form-control', placeholder: "Enter your age" %>
    </div>
    <div class="form-group">
      <%= f.label :gender, "Gender" %> <br>
      <%= f.radio_button :gender, "male" %>
      <%= f.label :gender_male, "Male" %> &nbsp;
      <%= f.radio_button :gender, "female" %>
      <%= f.label :gender_female, "Female" %>
    </div>
    <div class="form-group">
      <%= f.label :height, "Height (in.)" %>
      <%= f.text_field :height, class: 'form-control', placeholder: "Enter your height" %>
    </div>
    <div class="form-group">
      <%= f.label :weight, "Weight (lbs.)" %>
      <%= f.text_field :weight, class: 'form-control', placeholder: "Enter your weight" %>
    </div>
    <div class="form-group">
      <%= f.label :physical_activity %> <br>
      <%= f.radio_button :physical_activity, "none" %>
      <%= f.label :physical_activity_none, "None" %> &nbsp;
      <%= f.radio_button :physical_activity, "light" %>
      <%= f.label :physical_activity_light, "Light (1 - 2 days/week)" %> &nbsp;
      <%= f.radio_button :physical_activity, "moderate" %>
      <%= f.label :physical_activity_mod, "Moderate (3 -5 days/week)" %> &nbsp;
      <%= f.radio_button :physical_activity, "active" %>
      <%= f.label :physical_activity_very_active, "Very active (Daily)" %>
    </div>

    <div class="form-group">
      <%= f.submit "Track", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
