<div class="row">
   <div class="pull-right @user-info"> <br>
     <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-success' %>
   </div>
   <h1>Hello <%= @user.fname %>!</h1>
</div>

<div class="row">
  <h4> Your total daily calories intake: <%= @user.total_cal %> calories </h4>
  <p> Total Carbohydrates : <%= @user.carb%> calories </p>
  <p> Total Proteins : <%= @user.protein %> calories </p>
  <p> Total Fats : <%= @user.fat %> calories </p>
</div>

<br>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Type of nutrients', 'Total calories'],
          ['Carbohydrates',     11],
          ['Proteins',      2],
          ['Fats',    7]
        ]);

        var options = {
          title: 'My Nutrients intake'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>
