<div class="row">
   <div class="pull-right @user-info"> <br>
     <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-success' %>
   </div>
   <h1>Hello <%= @user.fname %>!</h1>
</div>

<h4> Your total daily calories intake: <%= @user.total_cal.to_d %> calories </h4>
<p> Total Carbohydrates : <%= @user.total_cal.to_d * 0.5 %> calories </p>
<p>Total Proteins : <%= @user.total_cal.to_d * 0.2 %> calories </p>
<p>Total Fat : <%= @user.total_cal.to_d * 0.3 %> calories </p>
