<!DOCTYPE html>
<html>
  <head>
    <div class="background">
      <%= image_tag("nutri2.jpg") %>
    <div class="container">
    <title>NutriLoop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul class="nav nav-tabs">
        <div class="pull-right user-info">
          <%= link_to "Home", root_path %>   <%= link_to "About", welcome_about_path %>
         <% if user_signed_in? %>
         <%= link_to "Profile", current_user, :class => 'navbar-link' %>
         <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %>  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
             <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %>
             <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
     </ul>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
      </div>
      <% end %>
    </div>
      <%= yield %>
    </div>
  </div>
</div>
  </body>
</html>
